# Django settings

SECRET_KEY='<your-secret-key-here>'
DEBUG=<true-or-false>

# Broker settings

BROKER_ID='<your-broker-id-here>'
BROKER_API_KEY='<your-broker-api-key-here>'
BROKER_SECRET_KEY='<your-broker-secret-key-here>'

# Database settings

DB_NAME=<your-db-name-here>
DB_USER=<your-db-user-here>
DB_PASSWORD=<your-db-password-here>
DB_HOST=<your-db-host-here>
DB_PORT=<your-db-port-here>